.container > div {
  width: 100%;
}
.container > div main {
  width: 100%;
}
.container > div main #profile {
  width: 128px;
  margin: 30px auto 0 auto;
}
.container > div main #profile img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.container > div main #bio {
  padding: 0 5%;
  margin: 20px 0 50px 0;
}
.container > div main #bio h1 {
  font-family: "Gabriela", sans-serif;
  font-size: 36px;
  text-align: center;
}
.container > div main #bio p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: justify;
}
.container > div main iframe {
  display: none;
}
.container > div main #gallery img {
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container > div main #about h1 {
  font-family: "Gabriela", sans-serif;
}
.container > div main #about h2 {
  color: #FFB6C1;
  font-size: 16px;
}
.container > div main #about p {
  margin-top: 12px;
  color: #999999;
}
