.hide {
  z-index: -5;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: url("../assets/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffb6c1;
  color: #444444;
}
.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px;
}
#madeby {
  margin-top: 20px;
}
#madeby a {
  font-size: 10px;
  color: #797979;
}
.container header {
  height: 110px;
  width: 100%;
}
.container header nav {
  font-family: "Montserrat", sans-serif;
}
.container header nav > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  width: 90%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container header nav > div:nth-of-type(1) div:nth-of-type(1) {
  margin-top: -10px;
  width: 65px;
  height: 65px;
  z-index: 1;
}
.container header nav > div:nth-of-type(1) div:nth-of-type(1) img {
  width: 65px;
  height: 65px;
}
.container header nav > div:nth-of-type(1) div:nth-of-type(2) {
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}
.container header nav > div:nth-of-type(2) {
  display: none;
}
.container header nav > div:nth-of-type(2) > ul li a:hover {
  color: #ffb6c1 !important;
}
.container header nav > div:nth-of-type(2) div:nth-of-type(1) {
  width: 48px;
  height: 48px;
  z-index: 1;
}
.container header nav > div:nth-of-type(2) #social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.container header nav > div:nth-of-type(2) #social > li a img:hover {
  -webkit-filter: invert(78%) sepia(14%) saturate(873%) hue-rotate(304deg) brightness(130%) contrast(114%);
  filter: invert(78%) sepia(14%) saturate(873%) hue-rotate(304deg) brightness(130%) contrast(114%);
}
.container header #menu {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 0;
}
.container header #menu ul {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-top: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.container header #menu ul li {
  margin-top: 5px;
}
.container header #menu ul li a {
  color: #444444;
  text-decoration: none;
}
.container header #menu div {
  max-height: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
}
.container header #menu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-top: 20px;
}
.container header #menu div ul li > a > img {
  -webkit-filter: invert(50%);
  filter: invert(50%);
}
.container header #menu div ul li > a > img:hover,
.container header #menu div ul li > a > img:focus {
  -webkit-filter: invert(79%) sepia(94%) saturate(3643%) hue-rotate(288deg) brightness(102%) contrast(112%);
  filter: invert(79%) sepia(94%) saturate(3643%) hue-rotate(288deg) brightness(102%) contrast(112%);
}
.container #loader {
  display: block;
  margin: 12% auto 0 auto;
}
.container > div {
  width: 100%;
}
.container > div main {
  width: 100%;
}
.container > div main #profile {
  width: 128px;
  margin: 30px auto 0 auto;
}
.container > div main #profile img {
  width: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.container > div main #bio {
  padding: 0 5%;
  margin: 20px 0 50px 0;
}
.container > div main #bio h1 {
  font-family: "Gabriela", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.container > div main #bio p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: justify;
  max-width: 742px;
  margin: 0 auto;
}
.container > div main iframe {
  display: none;
}
.container > div main #gallery img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.container > div main #about h1 {
  font-family: "Gabriela", sans-serif;
}
.container > div main #about h2 {
  color: #ffb6c1;
  font-size: 16px;
}
.container > div main #about p {
  margin-top: 12px;
  color: #999999;
}
.container > div main #contact {
  padding: 2em 1.5em;
}
.container > div main #contact h1 {
  font-family: "Gabriela", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.container > div main #contact p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: justify;
  text-align: center;
  max-width: 600px;
  margin: 0 auto 20px auto;
}
.container > div main #contact form {
  margin: 0 auto;
  max-width: 600px;
}
.container > div main #contact form input[type="text"],
.container > div main #contact form input[type="email"],
.container > div main #contact form textarea {
  width: 100%;
  font-size: 1em;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  margin: 4px 0;
  outline: none;
  border: 0.1px solid #444444;
  color: #444444;
}
.container > div main #contact form input[type="text"]:focus,
.container > div main #contact form input[type="email"]:focus,
.container > div main #contact form textarea:focus {
  background-color: rgba(255, 182, 193, 0.4);
}
.container > div main #contact form textarea {
  resize: none;
  height: 100px;
}
.container > div main #contact form input[type="submit"] {
  width: 100%;
  height: 30px;
  background-color: rgba(255, 182, 193, 0.6);
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #999999;
}
.container > div main #contact form input[type="submit"]:hover {
  background-color: rgba(255, 182, 193, 0.9);
}
.container > div main #disclaimer {
  padding: 2em 1.5em;
}
.container > div main #disclaimer h1 {
  font-family: "Gabriela", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.container > div main #disclaimer p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px auto;
}
.container > div main #disclaimer ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px auto;
  padding-left: 30px;
}
@media screen and (min-width: 769px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container header {
    height: 100%;
    width: 25%;
    margin-bottom: 50px;
  }
  .container header nav > div:nth-of-type(1) {
    display: none;
  }
  .container header nav > div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container header nav > div:nth-of-type(2) > div:nth-last-of-type(1) {
    margin: 20px auto 30px auto;
    height: 80px;
    width: 80px;
  }
  .container header nav > div:nth-of-type(2) > div:nth-last-of-type(1) > a img {
    width: 80px;
  }
  .container header nav > div:nth-of-type(2) ul {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    text-transform: uppercase;
  }
  .container header nav > div:nth-of-type(2) ul li {
    margin-top: 5px;
  }
  .container header nav > div:nth-of-type(2) ul li a {
    color: black;
    text-decoration: none;
  }
  .container main {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  iframe {
    display: block !important;
    margin: 0 auto 50px auto;
    width: 640px;
    height: 360px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
