.hide {
  z-index: -5;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.container header {
  background-color: white;
  height: 110px;
  width: 100%;
}
.container header nav {
  display: flex;
  margin: 30px auto 0 auto;
  width: 90%;
  justify-content: space-between;
}
.container header nav div:nth-of-type(1) {
  width: 48px;
  height: 48px;
  z-index: 1;
}
.container header nav div:nth-of-type(2) {
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}
.container header #menu {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  display: block;
  transition: 0.5s;
  z-index: 0;
}
.container header #menu ul {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  list-style-type: none;
  font-family: 'Elsie', cursive;
  font-size: 25px;
  margin-top: 110px;
  user-select: none;
}
.container header #menu ul li {
  margin-top: 5px;
}
.container header #menu ul li a {
  color: black;
  text-decoration: none;
}
.container header #menu ul li a:nth-last-of-type(2) {
  color: red;
}
.container header #menu ul li a:hover {
  color: #FFB6C1;
}
.container header #menu ul li:nth-child(n+6) > a {
  opacity: 0.7;
}
.container header #menu div {
  max-height: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background-color: white;
}
.container header #menu div ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.container header #menu div ul li > a > img {
  filter: invert(50%);
}
.container header #menu div ul li > a > img:hover,
.container header #menu div ul li > a > img:focus {
  filter: invert(79%) sepia(94%) saturate(3643%) hue-rotate(288deg) brightness(102%) contrast(112%);
}
.container > div {
  height: 100%;
  width: 100%;
}
.container > div main {
  height: 100%;
  width: 100%;
}
.container > div main #gallery img {
  object-fit: cover;
}
.container > div main #about h1 {
  font-family: 'Elsie', cursive;
}
.container > div main #about h2 {
  color: #FFB6C1;
  font-size: 16px;
}
.container > div main #about p {
  margin-top: 12px;
  color: #999999;
}
@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
  }
  .container header {
    height: 100%;
    width: 25%;
  }
  .container main {
    width: 75%;
  }
}
